<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:06:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TC.beforeMethod(java.lang.String, java.lang.String)[pri:0, instance:AssignmentOne.TestNG_TC@7d9d1a19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@529053733</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:06:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG_TC.beforeMethod(java.lang.String, java.lang.String)[pri:0, instance:AssignmentOne.TestNG_TC@4678c730]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG@719397671</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:07:00</td>   <td>15079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TC.FlightBooking(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:AssignmentOne.TestNG_TC@7d9d1a19]">FlightBooking</td> 
  <td>TestNG@529053733</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:07:02</td>   <td>16833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_TC.FlightBooking(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:AssignmentOne.TestNG_TC@4678c730]">FlightBooking</td> 
  <td>TestNG@719397671</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:07:18</td>   <td>33702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TC.TearDown()[pri:0, instance:AssignmentOne.TestNG_TC@7d9d1a19]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>TestNG@529053733</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/22 20:07:21</td>   <td>36532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG_TC.TearDown()[pri:0, instance:AssignmentOne.TestNG_TC@4678c730]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td>  <td>TestNG@719397671</td>   <td></td> </tr>
</table>
