<h2>Reporter output</h2><table><tr><td>Application 'https://www.orbitz.com' Started ....</td></tr>
<tr><td>Setting Source and Destinations ....</td></tr>
<tr><td>Application 'https://www.orbitz.com' Started ....</td></tr>
<tr><td>Setting Start and End Dates ....</td></tr>
<tr><td>Setting Source and Destinations ....</td></tr>
<tr><td>Setting Start and End Dates ....</td></tr>
<tr><td>Validating Results ....</td></tr>
<tr><td>Application Closed ....</td></tr>
<tr><td>Validating Results ....</td></tr>
<tr><td>Application Closed ....</td></tr>
</table>